# System-Related Files:
.DS_Store
Icon

# Configuration files
# from IDEs, compilers and coding tools:
prepros.config
prepros-6.config
.idea/*
.nova/*

# Frameworks, libraries & third-party code
# handled by and external dependency manager,
# such as npm, composer, etc:
node_modules/*
vendor/*

# Exclude 'build' folder, which is automatically produced
# as a result of running frontend compiler tools like CodeKit, PrePros, Parcel, etc.
build/*
